<h3>Editing Order</h3>

<%= render 'form', order: @order %>

<div class="container">
  <br>
  <%#= link_to 'Show', @order, class: "btn btn-info" %>
  <%#= link_to 'Back', orders_path, class: "btn btn-info" %>
</div>
